################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ThunderLINQ/FileContentIndex/007ed2a2-5751-44f2-aaf1-1c1aa59f50f7.vsidx
