################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ThunderLINQ/FileContentIndex/007ed2a2-5751-44f2-aaf1-1c1aa59f50f7.vsidx
/.vs/ThunderLINQ/FileContentIndex/1480bd4f-ae1a-4e58-814b-e2843e99b4af.vsidx
/Regex/obj/Debug/net6.0/ThunderLINQ.assets.cache
/Regex/obj/Debug/net6.0/ThunderLINQ.GeneratedMSBuildEditorConfig.editorconfig
/.vs/ThunderLINQ/FileContentIndex/034a7da1-acfa-495c-b03e-87eebb46abdd.vsidx
