################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ThunderLINQ/FileContentIndex/007ed2a2-5751-44f2-aaf1-1c1aa59f50f7.vsidx
/.vs/ThunderLINQ/FileContentIndex/1480bd4f-ae1a-4e58-814b-e2843e99b4af.vsidx
/Regex/obj/Debug/net6.0/ThunderLINQ.assets.cache
/Regex/obj/Debug/net6.0/ThunderLINQ.GeneratedMSBuildEditorConfig.editorconfig
/.vs/ThunderLINQ/FileContentIndex/034a7da1-acfa-495c-b03e-87eebb46abdd.vsidx
/.vs/ThunderLINQ/FileContentIndex/f8b63136-0484-4845-8090-d72c59053fd6.vsidx
/.vs/ThunderLINQ/FileContentIndex/9533d291-383d-4885-b4fb-36edaf94f401.vsidx
/.vs/ThunderLINQ/FileContentIndex/9c744d46-00e4-4d96-9067-e42bbeae9547.vsidx
/.vs/ThunderLINQ/FileContentIndex/557fe317-7866-4303-974e-bfe1872e9444.vsidx
/.vs/ProjectEvaluation/thunderlinq.metadata.v5.1
/.vs/ProjectEvaluation/thunderlinq.projects.v5.1
/Regex/obj/Debug/net6.0/ThunderLINQ.dll
/Regex/obj/Debug/net6.0/ThunderLINQ.csproj.CoreCompileInputs.cache
/Regex/obj/Debug/net6.0/apphost.exe
/Regex/obj/Debug/net6.0/refint/ThunderLINQ.dll
/.vs/ThunderLINQ/v17/.suo
/.vs/ThunderLINQ/v17/.futdcache.v2
*.vsidx
/.vs/ThunderLINQ/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/thunderlinq.projects.v7.bin
/.vs/ProjectEvaluation/thunderlinq.metadata.v7.bin
/Regex/bin/Debug/net6.0/ThunderLINQ.dll
/Regex/bin/Debug/net6.0/ThunderLINQ.exe
/Regex/bin/Debug/net6.0/ThunderLINQ.pdb
/Regex/obj/Debug/net6.0/ref/ThunderLINQ.dll
